body,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,dd,hr,input,textarea,button,option,fieldset,legend,td,th,figure{margin:0; padding:0;}
a{text-decoration:none; color:#666;}
li{list-style:none;}
/*img{display:block;}*/
h1,h2,h3,h4,h5,h6,b,strong{font-weight:normal;}
em,i{font-style:normal;}
a,input{outline:none;}
body{font:12px "微软雅黑";}
.fl{float:left;}
.fr{float:right;}
.clear:after{content:"."; display:block; clear:both; height:0; visibility:hidden;}
.clear{zoom:1;}